---
// Logic (if any) goes here
---
<section id="about">
	<h2>About Me</h2>
	<p>Aspiring dick sucker at penis central...</p>
</section>

<style>
	h2 { font-size: 3rem; color: var(--accent); 
     }
    section {
        padding: 2rem;
    }
</style>